/* debug */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: black;
  color: white;
  padding: 30px 5%;
  display: flex;
  justify-content: flex-end;
  gap: 40px;

  button {
    padding: 7px 20px;
    background-color: red;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-weight: 800;
  }

  input {
    padding: 7px 14px;
    min-width: 300px;
    border-radius: 20px;
  }
}

main {
  background-color: rgb(40, 40, 40);
  padding: 50px 0;
}

.card-film-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  a {
    background-color: black;
    display: block;
    width: calc((100% / 4) - 20px);
    text-decoration: none;
    color: white;
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
  }
}

.card-film {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100%;
    height: auto;
    padding: 10px;
  }
}

.card-film-container a:hover {
  transform: scale(1.03);
  transition: 0.3s;
}

.card-single-film {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 10px;

  img {
    margin: 20px 0;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    line-height: 1.5;
    padding-bottom: 10px;
  }

  button {
    padding: 7px 20px;
    margin: 10px 0;
    background-color: red;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-weight: 800;
  }
}

.card-single-film:hover {
  transform: scale(1.01);
  transition: 0.3s;
}