/* debug */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: black;
  color: white;
  padding: 30px 5%;
  display: flex;
  justify-content: flex-end;
  gap: 40px;

  button {
    padding: 7px 20px;
    background-color: red;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-weight: 800;
  }

  input {
    padding: 7px 14px;
    min-width: 300px;
    border-radius: 20px;
  }
}

main {
  background-color: rgb(39, 39, 39);
  padding-top: 50px;
}

.card-film-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card-film {
  width: calc((100% / 4) - 20px);
  color: white;
  padding: 10px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;

  img {
    width: 100%;
    height: auto;
    padding: 10px;
  }
}